img {
max-width: 350px;
object-fit: contain;
}
p.no-meio {
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse
}
.form-login {
  background-color: #FFFFFF;
  padding: 20px; 
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  max-height: 400px; 
}
input[type=text], input[type=password] {
  width: auto;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
 font-size: 20px
}
input[type=submit] {
  background-color: #F37A21;
  color: white;
  border-radius: 5px;
  border: none;
}
input[type=submit]:active {
  background-color: #4CAF50;
  transform: scale(0.95)
}
.homeButtons {
  margin-top: 5px;
  margin-right: 100px;
  width: auto;
  height: 30px;
}
#butaocadastro{
  color:#F37A21;
  background-color:#FFFFFF;
  border:1px solid #F37A21;
  border-radius: 5px;
}
@media screen and (min-width: 1366px) {
    img {
        max-width: 300px;
        max-height: 300px;
    }
    .form-login {
        max-height: 600px;
    }
}