html {
    /*
    height: 100%;
    background: linear-gradient(to bottom, #F37A21, #FFFFFF);
    background-attachment: fixed;
    */
    background-color: #F37A21;
  }
  
  body {
    min-height: 100%;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
  }