html {
  background-color: #F37820;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 720px) {
  img {
    margin: auto;
  }
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    color: #000000;
}
